<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MX Directory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>

      .sturow {

        border-top: solid #999 1px;
      }

      #images{
          text-align:center;
          margin:50px auto;
      }
      #images a{
          margin:0px 20px;
          display:inline-block;
          text-decoration:none;
          color:black;
      }


   </style>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">MX Directory</div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/books">Asdfasdafs</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
