{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>MX Directories</h2>

        </div>
    </div>


    {% for graderow in grades | slice (3) %}
    <div class="row">
        {% for grade in graderow %}
            {% if grade %}
            <div class="col-md-4">
                <h2>Grade {{ grade }}</h2>
                {% for cc in classesForGrade[grade] %}
                    {%  with numstu = cc.numStudents() %}
                        {%  if numstu %}
                        <a href="{{ url_for('classroom', cc_id=cc.id ) }}">
                            {{ cc.teacher }} ({{ numstu }}) </a><br>
                        {%  else %}
                            <a href="{{ url_for('classroom', cc_id=cc.id ) }}"><b>
                                {{ cc.teacher }} ({{ numstu }})</b>!</a><br>
                        {%  endif %}
                    {%  endwith %}
                {% endfor %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}


    <div class="row">
        <div class="col-md-12">

            <div id="images">
                {% for pdf in pdfFiles %}
                <a href="{{ url_for( 'static', filename=pdf[0] ) }}">
                    <img src="{{ url_for( 'static', filename='icon-download-pdf-ebook.png' ) }}"  width="100px" height="100px">
                    <div class="caption"><strong>{{ pdf[2] }}</strong></div>
                    <div class="caption"><small>{{ pdf[1] }}</small></div>
                </a>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock content %}